{% extends 'base.html.twig' %}

{% block title %}

<h3 class="text-center">Formulaire de création des adresses : </h3>

{% endblock title %}
{%  block content %}

{{ form  (formaddress) }}

<a class="btn btn-secondary m-3" href=" {{ path ('address') }} "> Voir les Adresses</a>
{% endblock content %}