{% extends 'base.html.twig' %}

{% block title %}

<h3 class="text-center">Formulaire de création des clients : </h3>

{% endblock title %}
{%  block content %}

{{ form  (formcustomer) }}

<a class="btn btn-secondary m-3" href=" {{ path ('customers') }} "> Voir les clients</a>
{% endblock content %}